@font-face {
  font-family: Norse-Bold;
  src: url('./fonts/norse.bold.otf');
}

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Layout */
.main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Left panel */
.left {
  width: 35%;
  background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.left h1 {
  font-family: 'Norse-Bold', sans-serif;
  font-size: 6rem;
}

.logo-section {
    height: 50vh;
    display: flex;
    align-items: center;
}

.transparent-section {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.logo-section img {
    width: 90px;
    height: 120px;
}

.credit-section {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
}

.credit-section a {
    color: white;
}



/* Right panel */
.right {
  width: 65%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 40px; */
}

/* Intro text */
.intro-text {
  margin-bottom: 40px;
  margin-left: 40px;
}

.intro-text h2 {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Form */
.form {
  background-color: white;
  padding: 40px;
  /* border-radius: 10px; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.form-title {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs */
label {
  font-size: 0.8rem;
  font-weight: bold;
  color: #555;
}

input {
  width: 250px;
  height: 35px;
  padding: 6px 10px;
  border: 2px solid #e5e7eb;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus {
  border-color: #555;
  outline: none;
}

input:invalid {
  border-color: #ef4444;
}

/* Error text */
.error {
  font-size: 0.7rem;
  color: red;
  margin-top: -10px;
}

/* Form actions */
.form-actions {
  margin-top: 30px;
  margin-left: 40px;
}

.btn-green {
  background-color: #596d48;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-green:hover {
  background-color: #45573a;
}

/* Login link */
.login-link {
  margin-top: 20px;
  font-size: 0.9rem;
  margin-left: 40px;
}

.login-link a {
  color: #596d48;
  text-decoration: none;
  font-weight: bold;
}
